body {
    background-color: #F4F0E6;
}

.header {
    padding: 1em;
}

h1 {
    font-family: "field-gothic-compact", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 23vw;
    color: #FF3B00;
}

h2 {
    color: #FF3B00;
    font: 'San Francisco', Helvetica, Arial, san-serif;
    font-weight: 200;
    font-size: 18vw;
    font-style: normal;
}

p {
    color: #FF3B00;
    font: 'San Francisco', Helvetica, Arial, san-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2vw;
    margin-left: 2em;
    margin-right: 2em;
    padding: 4em;
    border-radius: 2em;
}

nav {
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    backdrop-filter: blur(90em);

}

.Contactez_moi {
    color: #FF3B00;
    font: 'San Francisco', Helvetica, Arial, san-serif;
    text-decoration: none;
    transition: 0.6s;

}
.Contactez_moi:hover {
    color: #4d1200;
    transition: 1s;
    
}


.logo_nav {
    width: 4em;
    padding-left: 2em;
    padding-top: 0.5em;
}

.container_techno {
    background-color: #FF3B00;
    margin: -1em;
}

.logiciel {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.techno {
    display: flex;
    flex-direction: row;
}

.techno_perso {
    padding: 2em;
    display: block;
    white-space: nowrap;
    animation: translateXAnimation 20s infinite linear;
}

@keyframes translateXAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-900%);
    }
}

.logo_footer {
    width: 8em;
    padding: 3em;
}
footer{
    margin-top: 3em;
    background-color: #1A1A1A;
}